////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////

$colors: (
    "red": $red,
    "redlight": $redlight,
    "reddark": $reddark,
    
    "pink": $pink,
    "pinklight": $pinklight,
    "pinkdark": $pinkdark,
    
    "purple": $purple,
    "purplelight": $purplelight,
    "purpledark": $purpledark,
    
    "deeppurple": $deeppurple,
    "deeppurplelight": $deeppurplelight,
    "deeppurpledark": $deeppurpledark,
    
    "indigo": $indigo,
    "indigolight": $indigolight,
    "indigodark": $indigodark,
    
    "blue": $blue,
    "bluelight": $bluelight,
    "bluedark": $bluedark,
    
    "clearblue": $clearblue,
    "clearbluelight": $clearbluelight,
    "clearbluedark": $clearbluedark,
    
    "cyan": $cyan,
    "cyanlight": $cyanlight,
    "cyandark": $cyandark,
    
    "teal": $teal,
    "teallight": $teallight,
    "tealdark": $tealdark,
    
    "green": $green,
    "greenlight": $greenlight,
    "greendark": $greendark,
    
    "cleargreen": $cleargreen,
    "cleargreenlight": $cleargreenlight,
    "cleargreendark": $cleargreendark,
    
    "lime": $lime,
    "limelight": $limelight,
    "limedark": $limedark,
    
    "yellow": $yellow,
    "yellowlight": $yellowlight,
    "yellowdark": $yellowdark,
    
    "amber": $amber,
    "amberlight": $amberlight,
    "amberdark": $amberdark,
    
    "orange": $orange,
    "orangelight": $orangelight,
    "orangedark": $orangedark,
    
    "deeporange": $deeporange,
    "deeporangelight": $deeporangelight,
    "deeporangedark": $deeporangedark,
    
    "brown": $brown,
    "brownlight": $brownlight,
    "browndark": $browndark,
    
    "grey": $grey,
    "greylight": $greylight,
    "greydark": $greydark,

    "cleargrey": $cleargrey,
    "cleargreylight": $cleargreylight,
    "cleargreydark": $cleargreydark,
    
    "black": $black,
    "white": $white
) !default;




// Color classes
@each $color, $color_value in $colors {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}



@mixin linearGradient($left, $right){
    background: $left !important;
    background: -webkit-linear-gradient(left, $left , $right) !important;
    background: -o-linear-gradient(right, $left, $right) !important;
    background: -moz-linear-gradient(right, $left, $right) !important;
    background: linear-gradient(to right, $left , $right) !important;
}


// Color gradient
@each $color, $color_value in $colors {
  @each $color2, $color_value2 in $colors {
    
    .#{$color + "-" + $color2} {
      @include linearGradient($color_value, $color_value2);
    }
  }
}
