////////////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////////////


// Layout for phones (Mobile First)
.con {
  max-width: 1180px;
  margin:0 auto;
}
.fcon {
  width: 100%;
}
.r:after {
  content: "";
  display: table;
  clear: both;
}
.s1 {
  width: (100% / 12 * 1);
  float:left;
}
.s2 {
  width: (100% / 12 * 2);
  float:left;
}
.s3 {
  width: (100% / 12 * 3);
  float:left;
}
.s4 {
  width: (100% / 12 * 4);
  float:left;
}
.s5 {
  width: (100% / 12 * 5);
  float:left;
}
.s6 {
  width: (100% / 12 * 6);
  float:left;
}
.s7 {
  width: (100% / 12 * 7);
  float:left;
}
.s8 {
  width: (100% / 12 * 8);
  float:left;
}
.s9 {
  width: (100% / 12 * 9);
  float:left;
}
.s10 {
  width: (100% / 12 * 10);
  float:left;
}
.s11 {
  width: (100% / 12 * 11);
  float:left;
}
.s12 {
  width: (100% / 12 * 12);
  float:left;
}

// Layout for tablet
@media (min-width: 768px) {
    .m1 {
      width: (100% / 12 * 1);
      float:left;
    }
    .m2 {
      width: (100% / 12 * 2);
      float:left;
    }
    .m3 {
      width: (100% / 12 * 3);
      float:left;
    }
    .m4 {
      width: (100% / 12 * 4);
      float:left;
    }
    .m5 {
      width: (100% / 12 * 5);
      float:left;
    }
    .m6 {
      width: (100% / 12 * 6);
      float:left;
    }
    .m7 {
      width: (100% / 12 * 7);
      float:left;
    }
    .m8 {
      width: (100% / 12 * 8);
      float:left;
    }
    .m9 {
      width: (100% / 12 * 9);
      float:left;
    }
    .m10 {
      width: (100% / 12 * 10);
      float:left;
    }
    .m11 {
      width: (100% / 12 * 11);
      float:left;
    }
    .m12 {
      width: (100% / 12 * 12);
      float:left;
    }
}


// Layout for laptop
@media (min-width:992px) {
    .l1 {
      width: (100% / 12 * 1);
      float:left;
    }
    .l2 {
      width: (100% / 12 * 2);
      float:left;
    }
    .l3 {
      width: (100% / 12 * 3);
      float:left;
    }
    .l4 {
      width: (100% / 12 * 4);
      float:left;
    }
    .l5 {
      width: (100% / 12 * 5);
      float:left;
    }
    .l6 {
      width: (100% / 12 * 6);
      float:left;
    }
    .l7 {
      width: (100% / 12 * 7);
      float:left;
    }
    .l8 {
      width: (100% / 12 * 8);
      float:left;
    }
    .l9 {
      width: (100% / 12 * 9);
      float:left;
    }
    .l10 {
      width: (100% / 12 * 10);
      float:left;
    }
    .l11 {
      width: (100% / 12 * 11);
      float:left;
    }
    .l12 {
      width: (100% / 12 * 12);
      float:left;
    }
}


// Layout for widescreen
@media (min-width:1200px) {
    .x1 {
      width: (100% / 12 * 1);
      float:left;
    }
    .x2 {
      width: (100% / 12 * 2);
      float:left;
    }
    .x3 {
      width: (100% / 12 * 3);
      float:left;
    }
    .x4 {
      width: (100% / 12 * 4);
      float:left;
    }
    .x5 {
      width: (100% / 12 * 5);
      float:left;
    }
    .x6 {
      width: (100% / 12 * 6);
      float:left;
    }
    .x7 {
      width: (100% / 12 * 7);
      float:left;
    }
    .x8 {
      width: (100% / 12 * 8);
      float:left;
    }
    .x9 {
      width: (100% / 12 * 9);
      float:left;
    }
    .x10 {
      width: (100% / 12 * 10);
      float:left;
    }
    .x11 {
      width: (100% / 12 * 11);
      float:left;
    }
    .x12 {
      width: (100% / 12 * 12);
      float:left;
    }
}